registry=https://pkgs.dev.azure.com/acerta/_packaging/acerta/npm/registry/

always-auth=true

; begin auth token
//pkgs.dev.azure.com/acerta/_packaging/acerta/npm/registry/:username=at
//pkgs.dev.azure.com/acerta/_packaging/acerta/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/acerta/_packaging/acerta/npm/registry/:email=atan@acerta.ai
//pkgs.dev.azure.com/acerta/_packaging/acerta/npm/:username=at
//pkgs.dev.azure.com/acerta/_packaging/acerta/npm/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/acerta/_packaging/acerta/npm/:email=atan@acerta.ai
; end auth token